<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="'Adistec Portal - New Registered User'"></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style>@import 'https://fonts.googleapis.com/css?family=Open+Sans';</style>
    <style type="text/css">
        /* CLIENT-SPECIFIC STYLES */
        body, table, td, a{-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;} /* Prevent WebKit and Windows mobile changing default text sizes */
        table, td{mso-table-lspace: 0pt; mso-table-rspace: 0pt;} /* Remove spacing between tables in Outlook 2007 and up */
        img{-ms-interpolation-mode: bicubic;} /* Allow smoother rendering of resized image in Internet Explorer */

        /* RESET STYLES */
        img{border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none;}

        body{height: 100% !important; margin: 0 !important; padding: 0 !important; width: 100% !important;}

        /* iOS BLUE LINKS */
        a[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }

        /* MOBILE STYLES */
        @media screen and (max-width: 525px) {

            /* ALLOWS FOR FLUID TABLES */
            .wrapper {
                width: 100% !important;
                max-width: 100% !important;
            }

            /* ADJUSTS LAYOUT OF LOGO IMAGE */
            .logo img {
                margin: 0 auto !important;
            }

            /* USE THESE CLASSES TO HIDE CONTENT ON MOBILE */
            .mobile-hide {
                display: none !important;
            }

            .img-max {
                max-width: 100% !important;
                width: 100% !important;
                height: auto !important;
            }

            /* FULL-WIDTH TABLES */
            .responsive-table {
                width: 100% !important;
            }

            /* UTILITY CLASSES FOR ADJUSTING PADDING ON MOBILE */
            .padding {
                padding: 10px 5% 15px 5% !important;
            }

            .padding-meta {
                padding: 30px 5% 0px 5% !important;
                text-align: center;
            }

            .padding-copy {
                padding: 10px 5% 10px 5% !important;
                text-align: center;
            }

            .no-padding {
                padding: 0 !important;
            }

            .section-padding {
                padding: 50px 15px 50px 15px !important;
            }

            /* ADJUST BUTTONS ON MOBILE */
            .mobile-button-container {
                margin: 0 auto;
                width: 100% !important;
            }

            .mobile-button {
                padding: 15px !important;
                border: 0 !important;
                font-size: 16px !important;
                display: block !important;
            }

        }

        /* ANDROID CENTER FIX */
        div[style*="margin: 16px 0;"] { margin: 0 !important; }

        html,body{
            height:100%;
        }
    </style>
</head>
<body style="margin: 0 !important; padding: 0 !important; background-color:#ececec; height:100%;">

<!-- HIDDEN PREHEADER TEXT -->
<div style="display: none; font-size: 1px; color: #fefefe; line-height: 1px; font-family: Helvetica, Arial, sans-serif; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;">
    Adistec Portal - New registered user. This email contains information about a new registered user.
</div>

<table cellpadding="30" style="width: 100%; background-color: #ececec;">
    <tbody>
    <tr>
        <td><center>
            <font face="Open Sans, Arial, Helvetica, sans-serif;">
                <table cellspacing="0" style="font-family:Open Sans, Arial, Helvetica, sans-serif; width: 795px; height:514px; background-color: #FFFFFF;" cellpadding="60">
                    <tbody>
                    <tr>
                        <td align="left" valign="top">
                            <table cellpadding="0" cellspacing="0" border="0"><tr><td>
                                <img th:src="|cid:${logo}|" width="120px" />
                            </td></tr></table>
                            <h1 style="color: #004a98; font-size: 25px; font-weight:900;">A new user has registered at Adistec Portal</h1>
                            <div>
                                <p style="color: #004a98; font-size:14px; line-height:24px;">The user has provided the following information:</p>
                                <table cellpadding="0" cellspacing="0" border="0">
                                    <tr><td>
                                        <table cellpadding="0" cellspacing="0" height="30px" border="0" style="width: 100%;"><tr><td height="30px">&nbsp;</td></tr></table>
                                    </td></tr>
                                    <tr>
                                        <td style="font-size:14px; color:#999999;">
                                            <font face="Open Sans, Arial, Helvetica, sans-serif;">
                                                <table cellpadding="10" cellspacing="0" border="0">
                                                    <tr>
                                                        <td style="font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:13px; color:#999;">Name</td>
                                                        <td style="font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:13px; color:#666;"><strong><span th:text="${name}"></span></strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:13px; color:#999;">Last Name</td>
                                                        <td style="font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:13px; color:#666;"><strong><span th:text="${lastName}"></span></strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:13px; color:#999;">Email</td>
                                                        <td style="font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:13px; color:#666;"><strong><span th:text="${email}"></span></strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:13px; color:#999;">Position</td>
                                                        <td style="font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:13px; color:#666;"><strong><span th:text="${position}"></span></strong></td>
                                                    </tr>
                                                    <tr th:if="${company}">
                                                        <td style="font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:13px; color:#999;">Company</td>
                                                        <td style="font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:13px; color:#666;"><strong><span th:text="${company}"></span></strong></td>
                                                    </tr>
                                                    <tr th:if="${taxID}">
                                                        <td style="font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:13px; color:#999;">Tax ID</td>
                                                        <td style="font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:13px; color:#666;"><strong><span th:text="${taxID}"></span></strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:13px; color:#999;">Country</td>
                                                        <td style="font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:13px; color:#666;"><strong><span th:text="${country}"></span></strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:13px; color:#999;">Phone</td>
                                                        <td style="font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:13px; color:#666;"><strong><span th:text="${phone}"></span></strong></td>
                                                    </tr>
                                                    <tr th:if="${contactInformationEmail}">
                                                        <td style="font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:13px; color:#999;">Contact inside Adistec</td>
                                                        <td style="font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:13px; color:#666;"><strong><span th:text="${contactInformationName} + ' ' + ${contactInformationLastName} + ' ' + ${contactInformationEmail}"/></strong></td>
                                                    </tr>
                                                </table>
                                            </font>
                                        </td>
                                    </tr>
                                </table>
                                <table cellpadding="0" cellspacing="0" height="40px" border="0" style="width: 100%;"><tr><td style="padding-bottom: 25px; border-bottom: 1px dashed #aaaaaa;"></td></tr></table>
                                <p style="color: #004a98; font-size:14px; margin-top:25px; margin-bottom:0px;"><strong style="font-weight:900">Adistec Portal.</strong></p>
                                <p style="color: #004a98; font-size:12px; margin-bottom:0px;">Copyright © 2018 Adistec Corp. All rights reserved. You are receiving this email because your address is registered with administration privileges inside our portal.</p>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </font></center></td>
    </tr>
    </tbody>
</table>
</body>
</html>